body{
    background:linear-gradient(black, white);
    background-repeat: no-repeat;
    font-family: 'roboto slab';
}

.cabecalho__container{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}


.cabecalho__container .cabecalho__logo{
    width: 6vw;
    margin-top: 20px;
}

.cabecalho__container .cabecalho__navbar a{
    font-size: 20px;
    color: white;
    margin: 8px;
    text-decoration: none;
}

.cabecalho__container .cabecalho__navbar a:hover{
    text-decoration: underline;
    color: gray;
}

.section__base {
    display: flex;
    align-items: center;
    margin: 15vh 15vw;
}

.section__base .caricature{
    width: 400px;
    margin-right: 100px;
}

.section__base .title{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 0.2em;
}

.section__base .description{
    font-size: 20px;
    text-indent: 10px;
    text-shadow: 2px 1px 5px white;
}

.section__base .caricature__secundary{
    width: 400px;

}

.section__project{
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}

.section__project .interactive__box{
    display: flex;
    justify-content: space-around;
    margin: 0px 18vw;
    padding-top: 30px;
}

.section__project .interactive__box li{
    list-style: none;
    border: 2px solid black;
    box-shadow: 2px 2px gray, 10px 10px black;
    border-radius: 10px;
    padding: 50px 120px;
}

.footer__contact{
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    background-color: gray;
    margin-top: 50px;
    padding: 15px 20px;
}
.footer__contact a{
    text-decoration: none;
}

.footer__contact a:hover{
    text-decoration: underline;
    color: white;
}

.footer__contact strong{
    font-weight: 600;
}